@font-face {
  font-family: 'old';
  src: url(../fonts/Olondon_.otf) format('opentype');

}

html,body {
  background-color: #2F3731;
  scroll-behavior: smooth;
  background-image: url("../images/houghton map.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  margin: auto;

}


.container {
  background-color: rgba(47, 55, 49, 0.9);
  width: auto;
}


.ambassador {
  font-family: 'old', sans-serif;
  font-size: 140pt;
  text-align: center;
  background-color: #7C4539;
  border-style: solid;
  border-width: 0px, 0, 500px, 0;
  border-color: #4C2F29;
  color: white;
  padding-bottom: 20px;
  padding-top: 50px;
  position: relative;
  top: -150px;
}

.menubutton {
  font-family: 'Biryani', sans-serif;
  background-color: #4C2F29;
  color: white;
  padding-left: 80%;
  position: relative;
  top: -309px;
  right: 55%;
  font-size: 40px;
  text-align: left;
}

.historybutton {
  font-family: 'Biryani', sans-serif;
  background-color: #4C2F29;
  color: white;
  position: relative;
  top: -446px;
  right: -20%;
  left: 44%;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  padding-right: 15%;
}

a:link {
  text-decoration: underline;
  color: white;
}

a:visited {
  color:gold;
}

a:hover {
  color:gray;
}

.blogbutton {
  font-family: 'Biryani', sans-serif;
  background-color: #4C2F29;
  display: inline-block;
  color: white;
  text-align: right;
  position: relative;
  top: -446px;
  right: -42%;
  left: auto;
  font-size: 40px;
  padding-right: 581px;
  padding-left: auto;
}

.welcome {
  font-family: 'Biryani', sans-serif;
  color: white;
  padding-left: 5%;
  padding-top: 35px;
  position: relative;
  bottom: -50px;
}

.welcomemessage {
  font-family: 'IM Fell English', sans-serif;
  color: white;
  background-color: #7C4539;
  border-color: #4C2F29;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-top: 10px;
  font-size: 25px;
  display: inline-block;
}

.menu {
  font-family: 'Biryani', sans-serif;
  color: white;
  padding-left: 5%;
  padding-top: 10%;
  position: relative;
  bottom: -50px;
}

.menubutton:hover, .historybutton:hover, .blogbutton:hover {
  color: gray;
  cursor: default;
}


.menutext {
  font-family: 'IM Fell English', sans-serif;
  text-align: center;
  background-color: #7C4539;
  border-color: #4C2F29;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-top: 35px;
  font-size: 25px;
  display: inline-block;
}

.splashimage {
  text-align: center;
  max-width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -200px;
}



.ourhistory {
  font-family: 'Biryani', sans-serif;
  color: white;
  padding-left: 5%;
  padding-top: 10%;
  position: relative;
  bottom: -50px;
}

.historytext, .historytext1 {
  font-family: 'IM Fell English', sans-serif;
  background-color: #7C4539;
  border-color: #4C2F29;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
  font-size: 25px;
  display: inline-block;
}

.fullpoem {
  font-family: 'IM Fell English', sans-serif;
  border-color: #4C2F29;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  text-align: center;
  background-color: #7C4539;
  color: gold;
  padding-bottom: 40px;
  padding-top: 10px;
  font-size: 25px;

}

.fullpoem:hover {
color: white;
cursor: default;
}

.visitus {
  font-family: 'Biryani', sans-serif;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10%;
}

.phoneaddress, .businesshours {
  font-weight: lighter;
  font-family: 'Biryani', sans-serif;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.rectangle {
  background-color: #7C4539;
  height: 60px;
  width: auto;

}
