@font-face {
  font-family: 'old';
  src: url(../fonts/Olondon_.otf) format('opentype');

}

html,body {
  background-color: rgba(47, 55, 49, 0.9);
  scroll-behavior: smooth;
  background-image: url("../images/houghton map.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  margin: auto;

}


.container {
  background-color: rgba(47, 55, 49, 0.9);
  width: auto;
  font-family: 'IM Fell English', sans-serif;
  color: white;
}

.rectangle {
  background-color: #7C4539;
  border-color: #4C2F29;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

.pizza {
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
}

.pasta {
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
}

.salads {
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
}

.sandwiches {
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
}

.cocktails {
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
}

.appetizers {
  text-align: center;
  text-decoration: underline;
  font-size: 65px;
}

.thincrust {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.buildyourown {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.homemadesauce {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.mealbowl {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.specialtysandwich {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.kettle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.subsandwich {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.italianbread {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.spirits {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pizzamenu1 {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;

}

.pizzamenu2 {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}

.pastamenu {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}

.saladmenu {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}

.sandwichmenu1 {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}

.sandwichmenu2 {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}

.drinkmenu {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}

.appetizermenu {
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
}
